<div class = "header_content">
  <h1 class = "title">G20 Booking</h1>
</div>
<br>
<br>
<div class = "main">
  <br>
  <br>
  <div class = "group-A">
    <a mat-raised-button routerLink="."><b>Hotel</b></a>
    <a mat-raised-button routerLink="."><b>Customer</b></a>
    <a mat-raised-button routerLink="/promotion"><b>Promotion</b></a>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class = "group-B">
    <a mat-raised-button routerLink="/reservation"><b>Reservation</b></a>
    <a mat-raised-button routerLink="."><b>Payment</b></a>
    <a mat-raised-button routerLink="."><b>Review</b></a>
  </div>
</div>


